.article {
	margin-right: auto;
	margin-left: auto;
  background-color:#FFFFFF;
	width: 840px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:5px;
}

.blog_title {
	margin-right: auto;
	margin-left: auto;
	width: 600px;
	text-align: center;
	margin-bottom: 50px;
}

.blog_title, .blog_title a {
	color: #5CB55C;
	text-decoration: none;
	font-size: 32px;
}

.header {
	margin-top: 50px;
}

.header .date {
	width: 200px;
}

.header .title, .header a {
	text-decoration: none;
	font-style: italic;
	font-size: 25px;
	color: #5CB55C;
	text-align: left;
	margin-left: 0px;
}

.header .date {
	text-decoration: none;
	font-style: italic;
	font-size: 14px;
	color: #6920A7;
}

body {
	font-family: 'PT Sans', 'Georgia', serif;
	font-size: 14px;
	text-shadow: #C9C9C9 2px 2px 10px;
	background-image:url('/images/background.png');
}

.topbar li {
	margin-right: 50px;
	display: inline;
	float: left;
}

.topbar {
	height: 70px;
	margin-right: auto;
	margin-left: auto;
	width: 900px;
}

.topbar a {
  color: #5CB55C;
}

a {
	text-decoration: none;
	color: #8a8a8a;
}

a {
	text-decoration: none;
	color: #6920A7;
}

a:hover {
	font-weight: bold;
}

.footer {
	margin-top: 50px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
}

.footer a p{
	color: #a5a5a5;
	text-decoration: none;
}

.next_page, .footer {
	text-align: center;
  margin-left:auto;
  margin-right:auto;
}

